

//root global parent

:root{
    --color-primary:#2596be;
    --color-primary-light:#87cde5;
    --color-primary-dark:#084d66;
  

--color-grey-light1: #faf9f9;
--color-grey-light2: #f4f2f2;
--color-grey-light3: #f0eeee;
--color-grey-light4: #ccc;

--color-grey-dark1: #333;
--color-grey-dark2: #777;
--color-grey-dark3: #999;

--shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
--shadow-light:0 2rem 5rem rba(0,0,0,.0);
--line: 1px solid var(--color-grey-light3);

 
}

$bg-largest: 75em; //1200px
$bg-large: 68.75em; //1100px
$bg-medium: 56.25em; //900px
$bg-small:37.5em; //600px
$bg-esmall:31.25em; //500px

 

* {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}


html {
    box-sizing: border-box;
    font-size: 62.5%; //1rem=10px

    @media only screen and (max-width:$bg-large){
        font-size: 50%;
    }
}

body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    line-height:1.6 ;
    color:var(--color-grey-dark2);
    background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
    background-repeat: no-repeat;

    min-height: 100vh;
}